<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true">
<Appenders>
<Appender type="Console" name="Happy">
<Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-7level %logger{36} -%m%n"/>
</Appender>
<Appender type="File" name="image" fileName="./Logger/FrontAccounting.log">
<Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-7level %logger{36} -%m%n"/>
</Appender>
</Appenders>

<Loggers>
<Root level="all">
<AppenderRef ref="image"/>
</Root>
</Loggers>
</Configuration>